{% extends "base.html" %}

{% block content %}
<div class="container">
    Your images:<br><br>
    <div class="row">
    {% for element in elements %}
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Image</h5>
                <p class="card-text">
                    <img src="{{element.thumbnail.image}}">
                    <a class="btn btn-primary" href="/libraries/compress?url={{element.imageUrl}}" role="button">Compress</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>  
</div>
{% endblock%}