{% extends "base.html" %}



{% block content %}
<div class="container">

    {% if not loggedIn %}
    <p>
        You are not logged in, click here to login: 
        <a class="btn btn-primary" href="/oauth/login" role="button">Login</a>
    </p>
    {% else %}
    Your libraries:<br><br>
    <div class="row">
    {% for library in libraries %}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="/libraries/{{ library.id }}/elements">{{ library.name }}</a></h5>
                    <p class="card-text">
                        Ownership: {{ library.ownership }}
                        <br>
                        Version: {{ library.version }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div> 
    {% endif %}
</div>
{% endblock %}