<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button id="get-libraries">Get CC Libraries</button>
    <div id="responses"></div>

    <script src="/javascripts/cc-libraries.js"></script>
  </body>
</html>
